@font-face {
    font-family: 'Gyeonggi_Title_Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

:root {
    --header-height: 3.5rem;
    --nav-width: 219px;
  
    --first-color: rgba(220, 96, 251, 1);
    --title-color: rgba(135, 107, 235, 1);
    --light-color: rgba(197, 181, 255, 1);
    --body-color: rgba(31, 25, 65, 1);
    --container-color: rgba(57, 26, 121, 1);

    --body-font: 'Gyeonggi_Title_Medium', normal;

    --z-fixed: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.league-gothic {
  font-family: "League Gothic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    display: flex;
    min-height: 100vh;
    background: url(images/bg.png) no-repeat;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    font-family: var(--body-font)
}

/* login css */

.center-content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.wrapper h1 {
    font-family: League Gothic, serif;
    font-size: 42px;
    font-weight: 100;
    text-align: center;
    color: white;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 20px 20px 20px;
}

.input-box input::placeholder {
    font-family: var(--body-font);
    opacity: 0.4;
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: -15px 0 15px;
    color: white;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a {
    color: #d46af2;
    text-decoration: none;
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #391A79;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-family: var(--body-font);
    font-weight: 400;
}

.wrapper .btn:hover {
    background: #6c47b7;
}

.wrapper .signup {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.signup a {
    color: #d46af2;
    font-weight: 600;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

/* lobby css */

.sidebar {
    position: relative;
    width: 200px;
    margin: 16px;
    border-radius: 16px;
    background: rgba(31, 25, 65, 0.7);
    border: 2px solid rgba(197, 181, 255, 0.2);
    height: calc(100vh - 32px);
    transition: 0.5s ease;
}

.sidebar-header {
    display: flex;
    padding: 20px 15px;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header .logo img {
    width: 50px;
    object-fit: contain;
    display: block;
    background: var(--container-color);
    border-radius: 15%;
}

.sidebar-header .info {
    height: 30px;
    width: 30px;
    border: none;
    background: var(--light-color);
    color: var(--body-color);
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.sidebar-header .info:hover {
    background: var(--first-color);
    color: white;
}

.sidebar-header .info span {
    font-size: 1.5rem;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
}

.sidebar-nav .nav-link {
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.sidebar-nav .nav-list :hover {
    background: var(--container-color);
    border-radius: 8px;
}

.sidebar-nav .second-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.sidebar-nav .nav-list .nav-label {
    transition: 0.3s ease;
}

.main-content {
    position: relative;
    width: calc(100% - 200px);
    margin: 16px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(197, 181, 255, 0.2);
    height: calc(100vh - 32px);
}

.main-content h1 {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}